/* line 5, ../sass/index1.scss */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 5px;
}

/* line 12, ../sass/index1.scss */
.alert-success {
  background-color: #DFF0d8;
  border: 1px solid #d6e9c6;
}

/* line 17, ../sass/index1.scss */
.alert-info {
  background-color: #d9edf7;
  border: 1px solid #bce8f1;
}

/* line 22, ../sass/index1.scss */
.alert-warning {
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
}

/* line 27, ../sass/index1.scss */
.alert-danger {
  background-color: #f2dede;
  border: 1px solid #ebccd1;
}
