/* line 16, ../sass/_themify.scss */
.theme-red .app-home {
  background: red;
}
/* line 16, ../sass/_themify.scss */
.theme-yellow .app-home {
  background: yellow;
}
/* line 16, ../sass/_themify.scss */
.theme-default .app-home {
  background: #fff;
}
